<h1>What's for Lunch?</h1>

<% if Restaurant.count > 0 %>
<p>
  <strong>Date:</strong>
  <%= @recommendation.date %>
</p>

<p>
  <strong>Today, you should go to:</strong>
  <%= link_to @recommendation.restaurant.name, @recommendation.restaurant %>
</p>

<%= link_to 'All Restaurants', restaurants_path %>
<% else %>
<p>No restaurants in the database yet. <%= link_to 'Add one', new_restaurant_path %> to start receiving recommendations.</p>
<% end %>